*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header, 
.encabezado{
    text-align: center;
}
.header__titulo,
.encabezado{
    padding: 100px 0;
}
.seccion__formulario{
    width: 80%;
    margin: auto;
    text-align: center;
}
.formulario{
    display: flex;
    justify-content: center;
    
}
.formulario__posicion{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 18%;
}
.texto{
    border: .5px solid;
    padding: 20px 0px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #226f54;
    background-color: rgba(177, 173, 173, 0.188);
}
.entrada{
    padding: 10px 10px;
    font-size: 1.3rem;
    border: .5px solid #226f54;
    /* transition: all; */
}
.seccion__btn{
    /* border: solid; */
    text-align: center;
    margin-top: 50px;
}
.cont__btn{
    align-self: center;
    justify-self: center;
    margin: auto 10px;
}
.cont__btn .btn,
.btn a{
    font-size: 1.2rem;
    padding: 20px 30px;
    font-weight: bold;
    color: #fff;
    background-color: #84a98c;
    text-decoration: none;
    cursor: pointer;
}
/** Tabla */
.center{
    text-align: center;
    /* border: solid; */
}
.cargarTabla__tabla{
    margin: auto;
}
.cargarTabla__tabla th{
    border: .5px solid;
    padding: 20px 60px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #226f54;
    background-color: rgba(177, 173, 173, 0.188);
}
.cargarTabla__tabla td{
    padding: 10px 10px;
    font-size: 1.3rem;
    border: .5px solid #226f54;
}

/* efecto hover */
span{
    position: absolute;
    transform: translate(10px, 80px);
    z-index: -1;
    transition: all .5s ease-in-out ;
    color: #fff;
}
.entrada:hover + span{
    transform: translate(10px, 118px);
    color: #000;
}
.entrada:hover + .id_venta{
    color: #000;
}